.uno{
     color: rgb(109, 11, 11);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dos{
    color: rgb(109, 11, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tres{
    color: rgb(109, 11, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background: #171717;
    width: 100%;
    z-index: 100;
}

.play {
display: flex;
margin-right: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Logo {
  margin-left: 30px;   
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.play a {
    display: block;
    padding: 23px 25px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.ul2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ol2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #B5C0D0
}
